<div id="header" class="new-header">
    <div class="container header">
        <a href="https://holochain.org" class="logo_link" target="_blank" rel="noopener noreferrer"><img src="{{ @site.logo }}" alt=""></a>
        <div class="hamburger hamburger--slider js-hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        <div class="mobile_menu">
            {{> mobile-nav}}
        </div>
        <ul class="main_menu top-nav">
            <li id="what_is_holochain_item" class="menu_item"><button>WHAT IS HOLOCHAIN</button>
                <ul class="sub-menu">
                    <li>
                        <a href="https://holochain.org/what-holochain" target="_blank" rel="noopener noreferrer"><span>What is Holochain?</span> <span>Framework and P2P networking</span></a>
                    </li>
                    <li>
                        <a href="https://holochain.org/why-holochain" target="_blank" rel="noopener noreferrer"><span>Why Holochain?</span> <span>Digital agency to solve complex problems</span></a>
                    </li>
                    <li>
                        <a href="https://holochain.org/how-does-it-work" target="_blank" rel="noopener noreferrer"><span>How it Works</span> <span>Design principles and step-by-step</span></a>
                    </li>
                    <li>
                        <a href="https://holochain.org/roadmap" target="_blank" rel="noopener noreferrer"><span>Roadmap</span> <span>See what is coming up</span></a>
                    </li>
                </ul>
            </li>
            <li id="solutions_page_item" class="menu_item"><button>SOLUTIONS</button>
                <ul class="sub-menu">
                    <li>
                        <a href="https://holochain.org/projects" target="_blank" rel="noopener noreferrer"><span>Projects</span> <span>Who is building on Holochain and use cases</span></a>
                    </li>
                    <li>
                        <a href="https://holochain.org/tools-and-libraries" target="_blank" rel="noopener noreferrer"><span>Tools &amp; Libraries</span> <span>Curated list of useful tools</span></a>
                    </li>
                    <li>
                        <a href="https://holochain.org/web3" target="_blank" rel="noopener noreferrer"><span>Web3</span> <span>Prototypes and patterns using Holochain</span></a>
                    </li>
                </ul>
            </li>
            <li id="community_page_item" class="menu_item"><button>COMMUNITY</button>
                <ul class="sub-menu">
                    <li>
                        <a href="https://holochain.org/events" target="_blank" rel="noopener noreferrer"><span>Upcoming Events</span> <span>Connect with us online and IRL</span></a>
                    </li>
                    <li>
                        <a href="https://holochain.org/get-involved" target="_blank" rel="noopener noreferrer"><span>Get Involved</span> <span>Discover a diverse, global ecosystem</span></a>
                    </li>
                    <li>
                        <a href="https://developer.holochain.org/" target="_blank" rel="noopener noreferrer"><span>Learn</span> <span>Tutorials and technical resources</span></a>
                    </li>
                    <li>
                        <a href="{{ @site.url }}"><span>Stay Informed</span> <span>Blog, annoucements, and newsletter</span></a>
                    </li>
                </ul>
            </li>
            <li id="about_page_item" class="menu_item"><button>ABOUT</button>
                <ul class="sub-menu">
                    <li>
                        <a href="https://holochain.org/foundation" target="_blank" rel="noopener noreferrer"><span>Holochain Foundation</span> <span>Explore Holochain's approach</span></a>
                    </li>
                    <li>
                        <a href="https://holo.host/" target="_blank" rel="noopener noreferrer"><span>Holo</span> <span>A P2P distributed platform for hosting</span></a>
                    </li>
                    <li>
                        <a href="https://opensource.org/licenses/CAL-1.0" target="_blank" rel="noopener noreferrer"><span>Holochain Open Source License</span> <span>Cryptographic Autonomy License (CAL)</span></a>
                    </li>
                    <li><a href="https://holochain.org/intellectual-property" target="_blank" rel="noopener noreferrer"><span>Holochain Intellectual Property</span> <span>Trademark policies and more</span></a></li>
                    <li><a href="https://holochain.org/contact" target="_blank" rel="noopener noreferrer"><span>Contact</span> <span>Get in touch with us</span></a></li>
                </ul>
            </li>
            <li class="menu_item another_link">
                <button>
                    <a href="https://developer.holochain.org/" target="_blank" rel="noopener noreferrer">DEV PORTAL</a>
                </button>
            </li>
            <li class="menu_item another_link">
                <button>
                    <a href="{{ @site.url }}">BLOG</a>
                </button>
            </li>
            <li class="menu_item subs_item">
                <button>
                    <a href="{{@site.url}}/#subscribe" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height:16px"><path style="fill:currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg>
                    </a>
                </button>
            </li>
            <li class="menu_item search_item">
                <button class="gh-search-icon" aria-label="search" data-ghost-search style="width: 20px; margin-top: 0; padding: 0; border: 0; color: inherit; background-color: transparent; cursor: pointer; outline: none;">
                    <svg width="16" height="16" fill="none" viewBox="0 0 24 24"><path d="M14.949 14.949a1 1 0 0 1 1.414 0l6.344 6.344a1 1 0 0 1-1.414 1.414l-6.344-6.344a1 1 0 0 1 0-1.414Z" fill="currentColor"/><path d="M10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-9 7a9 9 0 1 1 18 0 9 9 0 0 1-18 0Z" fill="currentColor"/></svg>
                </button>
            </li>
        </ul>
        <div class="links_btns">
            <a href="https://github.com/holochain/holochain" target="_blank" rel="noopener noreferrer">
                <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 0.172852C3.1325 0.172852 0 3.3071 0 7.17285C0 10.2663 2.0055 12.8895 4.78625 13.8141C5.13625 13.88 5.26458 13.6636 5.26458 13.4775C5.26458 13.3113 5.25875 12.8709 5.25583 12.2875C3.30867 12.7099 2.898 11.3484 2.898 11.3484C2.5795 10.5404 2.11925 10.3246 2.11925 10.3246C1.48517 9.8906 2.16825 9.89935 2.16825 9.89935C2.87117 9.94835 3.24042 10.6204 3.24042 10.6204C3.86458 11.6908 4.879 11.3816 5.27917 11.2025C5.34217 10.7499 5.52242 10.4413 5.7225 10.2663C4.16792 10.0913 2.534 9.48927 2.534 6.8071C2.534 6.04293 2.80525 5.41877 3.25442 4.92877C3.17567 4.75202 2.93942 4.04035 3.31567 3.0761C3.31567 3.0761 3.90192 2.88827 5.24067 3.7936C5.80067 3.63785 6.39567 3.56085 6.99067 3.55735C7.58567 3.56085 8.18067 3.63785 8.74067 3.7936C10.0707 2.88827 10.6569 3.0761 10.6569 3.0761C11.0332 4.04035 10.7969 4.75202 10.7269 4.92877C11.1732 5.41877 11.4444 6.04293 11.4444 6.8071C11.4444 9.49627 9.80817 10.0884 8.25067 10.2604C8.49567 10.4704 8.72317 10.8998 8.72317 11.5554C8.72317 12.4923 8.71442 13.2448 8.71442 13.4723C8.71442 13.656 8.83692 13.8748 9.19567 13.8048C11.9962 12.8866 14 10.2616 14 7.17285C14 3.3071 10.8657 0.172852 7 0.172852Z" fill="black"></path>
                </svg> 
            </a>
            <a href="https://discord.com/invite/k55DS5dmPH" target="_blank" title="DEV.HC on Discord" rel="noopener noreferrer">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36">
                    <path
                        d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z">
                    </path>
                </svg>
            </a>
        </div>
    </div>
</div>