            <footer class="post-full-footer">
                {{> "byline"}}
            </footer>


            <section class="post-full-comments">

                <div id="disqus_thread"></div>
                <script>
                var disqus_config = function () {
                    this.page.url = "{{url absolute="true"}}";
                    this.page.identifier = "ghost-{{comment_id}}"
                };
                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://holochain-blog.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>

                <div id='discourse-comments'></div>
                <script type="text/javascript">
                if (window.location.pathname.indexOf('/p/') < 0) {
                  DiscourseEmbed = { discourseUrl: 'https://forum.holochain.org/',
                  discourseEmbedUrl: '{{url absolute="true"}}' };

                  (function() {
                    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                  })();
                }
                </script>

            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            <section class="subscribe-form">
                <h3 class="subscribe-form-title">Subscribe for updates</h3>
                <p>Get stories and progress from the Holochain team</p>

                <form action="https://www.getdrip.com/forms/228623100/submissions" method="post" data-drip-embedded-form="228623100">
                <div class="form-group"><input type="email" id="drip-email" class="subscribe-email" name="fields[email]" placeholder="Your email address" required></div>
                <button type="submit"><span>Subscribe</span></button>
                </form>

            </section>
