<form action="https://www.getdrip.com/forms/228623100/submissions" method="post" data-drip-embedded-form="228623100">
    <div class="form-group">
        <input type="email" class="subscribe-email" name="fields[email]" placeholder="Your email address" required>
    </div>

    <div class="gdpr">
        <input type="hidden" name="fields[eu_consent]" value="denied">
        <input type="checkbox" name="fields[eu_consent]" value="granted">
        <label for="drip-eu-consent">I understand and agree to the terms of Holochain's <a href="https://www.holochain.org/privacy-policy/"> privacy policy</a>.</label>
    </div>

    <input type="hidden" name="fields[eu_consent_message]" value="">

    <button type="submit"><span>Subscribe</span></button>
</form>
