{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header background=@site.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        <div class="site-header-content">
            <h1>The<br><span>Holochain</span><br>Blog</h1>
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        </div>
        {{!-- {{> "site-nav"}} --}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main">

    <div class="featured-post outer">
        <div class="inner">

            {{!-- Featured Post --}}
            <h2 class="featured-post-title">{{t 'Featured Post'}}</h2>
            <div class="post-feed">
                {{#get 'posts' filter='featured:true' include='tag,authors'}}
                    {{#foreach posts limit="1"}}

                        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                        {{> "post-card"}}

                    {{/foreach}}
                {{/get}}
            </div>

            {{!-- Read All Posts --}}
            <div class="read-all">
                <a href="{{@site.url}}/posts/" class="read-all-posts">{{t "Explore all posts"}}</a>
            </div>

        </div>
    </div>

    {{!-- Tags Section --}}
    <div class="top-categories outer">
        <div class="inner">
            <h2 class="top-cat-title">{{t "Top Categories"}}</h2>
            <div class="post-feed">

                {{!-- The tag below includes the markup for each tag - partials/tag-card.hbs --}}
                {{> "tag-card"}}
                
            </div>
        </div>
    </div> 

</main>

{{> subscribe-form-block}}