{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
{{> header background=feature_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        <div class="site-header-content">
            <!--img class="site-logo" src="/content/images/2019/09/holochain_logo_black.png" alt="{{@site.title}}" /-->
            <h1><span>Holochain</span> {{name}}</h1>
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        </div>
        {{> "site-nav"}}
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>

<div id="subscribe" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content">
            <img class="subscribe-overlay-logo" src="https://holochain.ghost.io/content/images/2019/05/holochain_logo_blog.png" alt="Holochain Blog"/>
        <h2 class="subscribe-overlay-title">Subscribe for updates</h2>

        <p class="subscribe-overlay-description">Stories and progress from Holochain</p>
        <form action="https://www.getdrip.com/forms/228623100/submissions" method="post" data-drip-embedded-form="228623100">
        <div class="form-group"><input type="email" id="drip-email" class="subscribe-email" name="fields[email]" placeholder="Your email address" required></div>
        <button type="submit"><span>Subscribe</span></button>
        </form>

    </div>
</div>