/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3e423c");

@font-face {
  font-family: "URW Form";
  src: url(/assets/webFonts/URWFormRegular/font.woff2) format("woff2"),
    url(/assets/webFonts/URWFormRegular/font.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "URW Form";
  src: url(/assets/webFonts/URWFormItalic/font.woff2) format("woff2"),
    url(/assets/webFonts/URWFormItalic/font.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "URW Form";
  src: url(/assets/webFonts/URWFormBold/font.woff2) format("woff2"),
    url(/assets/webFonts/URWFormBold/font.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "URW Form";
  src: url(/assets/webFonts/URWFormBoldItalic/font.woff2) format("woff2"),
    url(/assets/webFonts/URWFormBoldItalic/font.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "URW Form";
  src: url(/assets/webFonts/URWFormExtraBold/font.woff2) format("woff2"),
    url(/assets/webFonts/URWFormExtraBold/font.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "URW Form";
  src: url(/assets/webFonts/URWFormExtraBoldItalic/font.woff2) format("woff2"),
    url(/assets/webFonts/URWFormExtraBoldItalic/font.woff) format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: Mulish;
}

h1,
h2,
h3,
.feature-excerpt {
  font-family: "URW Form" !important;
  font-weight: 800;
}

.feature-excerpt {
  font-weight: 600;
}

a, button {
  cursor: pointer !important;
}

.site-header {
  background: none;
}

.post-template .site-header:before,
.post-template .site-header:after {
  display: none !important;
}

.site-nav-logo {
  padding: 0;
}

.site-nav-logo img {
  height: 28px;
}

.post-card,
.post-card-image-link,
.read-next-card,
.post-full-image {
  border-radius: 0 !important;
}

.post-card h2 {
  font-size: 2.35rem;
}

.post-card-image {
  height: 220px;
}

.post-card-tags {
  padding: 13px 25px;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.1em;
  color: #fff;
  font-weight: 700;
  background-color: #3718ad;
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: none;
}

.post-full-content {
  font-size: 1.8rem;
}

.post-full-content:after,
.post-full-content:before {
  display: none !important;
}

.inner {
  max-width: 1200px;
}

.post-template .site-main .inner {
  max-width: 1000px;
}

@media (min-width: 1084px) {
  .home-template .post-card:not(.post-card-large),
  .tag-template .post-card:not(.post-card-large) {
    max-width: 374px;
  }

  .home-template .post-card.post-card-large {
    min-height: 400px;
  }
}

.post-card-tags {
  padding: 0;
}

.post-card-tags span {
  padding: 13px 25px;
  display: block;
}

.post-card.tag-community-matters .post-card-tags span,
.post-template.tag-community-matters .post-card-tags span {
  background: #3718ad;
  position: relative;
  z-index: 1;
}

.post-card.tag-community-matters .post-card-tags:before,
.post-template.tag-community-matters .post-card-tags:before {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  bottom: -7px;
  right: -14px;
  background: url(https://holo.host/wp-content/uploads/blogtag-1.png);
  background-size: 100% 100%;
  z-index: 2;
}

.post-card.tag-community-matters .post-card-tags:after,
.post-template.tag-community-matters .post-card-tags:after {
  content: "";
  width: 88px;
  height: 28px;
  position: absolute;
  top: -20px;
  right: -15px;
  background: url(https://holo.host/wp-content/uploads/blogtag-2.png);
  background-size: 100% 100%;
}

.post-card.tag-dev-pulse .post-card-tags span,
.post-template.tag-dev-pulse .post-card-tags span {
  background: linear-gradient(135deg, #620afd 0%, #18bfda 100%);
}

/* NEW */

.site-header:after,
.site-header:before {
  display: none;
}

.home-template .site-nav-left {
  visibility: hidden;
}

.featured-tags {
  padding: 0;
  margin: 50px 0 0;
  font-size: 7.2rem;
  letter-spacing: 0.5px;
  font-weight: 800;
  list-style: none;
}

.featured-tags li {
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.featured-tags a {
  color: #fff;
  transition: 0.2s;
}

.site-header-content {
  padding: 80px 0 90px;
  z-index: 10;
  position: relative;
  text-align: left;
  display: block;
  max-height: none;
}

.post-full-image {
  height: calc(100vh - 50px);
  max-height: 1050px;
  min-height: 780px;
  margin-left: -4vw;
  margin-right: -4vw;
  position: relative;
}

.hero-back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.feature-header {
  width: 100%;
  padding: 0 4vw;
  position: absolute;
  top: calc(50% - 70px);
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.feature-header .inner {
  max-width: 1200px !important;
}

.feature-header h1 {
  max-width: 1000px;
}

.feature-excerpt {
  margin-bottom: 15px;
  font-size: 3.5rem;
  letter-spacing: -1px;
}

.feature-date {
  margin-bottom: 80px;
  font-size: 2.2rem;
  letter-spacing: -0.2px;
  opacity: 0.6;
}

/* Fighting some pretty strong specificity in other stylesheets here */
.feature-header *,
.feature-header .author-card-name a,
.post-full-authors-content p,
.post-full-authors-content a {
  color: #fff;
}

.post-title-container {
  visibility: hidden;
  position: absolute;
}

.post-card-excerpt {
  /* position: absolute;
    bottom: 22px;
    left: 25px; */
  font-size: 18px;
  /* color: #FFF; */
  color: #3c484e;
  font-weight: 600;
  z-index: 3;
}

.post-card-header h2 {
  margin-bottom: 1em;
}

.pulse-buttons {
  width: calc(100% + 40px);
  margin-bottom: 40px;
  text-align: left;
  border-top: 1px solid #e3e9ed;
  padding-top: 70px;
}

.pulse-buttons .cta-button {
  width: calc(33.33% - 40px);
  margin: 0 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: none;
  float: left;
  text-align: center;
  background: #00ffce;
  color: #000 !important;
  text-decoration: none;
  font-weight: 700;
}

.pulse-buttons:after {
  content: "";
  clear: both;
  display: block;
}

.post-full-footer {
  padding: 3vw 0 2vw;
}

.post-full-authors {
  padding-top: 0;
  border-top: none;
}

.post-full-content h2:first-child {
  margin-top: 0;
}

.site-nav-logo {
  margin-right: 30px;
}

.tag-template .site-main,
.author-template .site-main,
.read-next.outer {
  padding-bottom: 4vw;
}

#discourse-comments {
  display: none;
}

.featured-tags a:hover {
  text-decoration: none;
  color: #00ffce;
}

@media (min-width: 1200px) {
  h1.feature-title {
    font-size: 8rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -0.02em;
  }
}

@media (max-width: 1199px) {
  h1.feature-title {
    font-size: 6rem;
    line-height: 1;
    font-weight: 800;
  }
}

@media (max-width: 640px) {
  .post-full-image {
    min-height: 0;
  }

  h1.feature-title {
    font-size: 5rem;
    line-height: 1;
    font-weight: 800;
  }

  .feature-excerpt {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  .feature-date {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }

  .feature-header {
    top: 50%;
  }

  .pulse-buttons .cta-button {
    width: calc(100% - 40px);
    float: none;
    margin-bottom: 20px;
    display: block;
  }
}

@media (max-width: 480px) {
  h1.feature-title {
    font-size: 4rem;
    line-height: 1;
    font-weight: 800;
  }
}

/* Home */

.home-template .site-logo {
  max-height: 50px;
}

.home-template h2.main-heading {
  margin: 0 0 25px;
  font-size: 45px;
  font-weight: 900;
  color: #15171a;
}

.post-feed {
  margin-top: 0 !important;
}

.site-header-content {
  color: #15171a;
}

.site-header-content h1 {
  font-weight: 900;
  font-size: 5.5rem;
  letter-spacing: -0.4px;
  margin: 0;
}

.site-header-content .tag-description {
  font-size: 2rem;
  margin-top: 1em;
  /* Make room for the subscribe button. Besides, that line is just plain too long otherwise. */
  padding-right: 12em;
}

/* But at smaller sizes, the subscribe button moves below the header. */
@media (max-width: 700px) {
  .site-header-content .tag-description {
    padding-right: 0;
  }
}

.site-header-content .subscribe-button {
  border: 1px solid rgba(21, 23, 26, 0.7);
  color: rgb(21, 23, 26);
  transition: 0.3s;
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 0;
  font-size: 1.8rem;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

.site-header-content .subscribe-button:hover {
  border-color: #0EDDD3;
  background: #0EDDD3 !important;
  color: #000;
}

.home-template .site-header-content {
  padding: 40px 0 45px;
}

.home-template .site-header-content h1 {
  font-size: 6.5rem;
  line-height: 0.95;
  letter-spacing: -0.6px;
}

.home-template .site-header .inner {
  position: relative;
}

.home-template .site-header .inner:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 1500px solid rgba(0, 0, 0, 0.06);
  border-right: 1500px solid transparent;
  position: absolute;
  top: -20px;
  left: -900px;
}

.home-template .site-header-content h1 span {
  color: #3718ad;
}

.tag-template .site-header-content h1 span,
.author-template .site-header-content h1 span {
  font-weight: 300;
  letter-spacing: -0.8px;
}

@media (min-width: 700px) {
  .home-template .site-header-content .subscribe-button {
    top: auto;
    transform: none;
    bottom: 53px;
  }
}

@media (max-width: 700px) {
  .site-header-content {
    padding: 50px 20px 40px;
  }

  .site-header-content h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .site-header-content .subscribe-button {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    display: table;
    margin: auto;
    padding: 0 40px;
  }

  .home-template .site-header-content {
    padding: 30px 20px 20px;
  }

  .home-template .site-header-content h1 {
    font-size: 6rem;
    letter-spacing: -0.6px;
  }

  .home-template .site-header .inner:before {
    display: none;
  }
}

.home-template .site-main {
  margin-bottom: 6rem;
}

.featured-post.outer {
  background: rgba(0, 0, 0, 0.06);
  padding: 3rem 4vw 6rem;
  margin-bottom: 1rem;
}

.top-categories.outer {
  padding: 3rem 4vw 0;
}

/* Posts */

.post-template .post-card-tags {
  font-size: 1.6rem;
  bottom: auto;
  top: -43px;
  left: 0;
}

.post-full-comments {
  min-width: 0;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 70px 0 20px;
  border-top: 1px solid #e3e9ed;
}

.read-next-card {
  background: #3718ad;
}

.read-next-card:before {
  display: none;
}

.site-header-content .author-profile-image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}

.site-header-content .author-meta {
  display: none !important;
}

.post-card-large .post-card-title {
  /* color: #fff; */
  color: #15171a;
  position: relative;
  /* margin: 40px 40px 0; */
  margin: 0;
  font-size: 3em;
}

.post-card-large .post-card-excerpt {
  position: relative;
  font-size: 2em;
  /* top: 0;
    left: 0; */
  bottom: 0;
  /* margin: .5em 40px 0; */
  line-height: 1.25em;
}

@media (max-width: 795px) {
  .post-card-large .post-card-title {
    margin: 25px 25px 0;
  }

  .post-card-large .post-card-excerpt {
    margin: 0.5em 25px;
  }
}

.post-card.tag-dev-pulse .post-card-image-link:before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); */
  background: none;
}

.post-card.tag-dev-pulse .post-card-image-link:after {
  content: "";
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(45deg, #6600ff 0%, #4a45f0 30%, #0dddd4 100%);
}

/* Art direction */

/* First of all, the default style -- add a colour wash to the hero image */
.hero-back:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body:not(.tag-hash-art-black, .tag-hash-art-white, .tag-hash-art-clear)
  .hero-back {
  background-blend-mode: color-dodge;
  filter: contrast(1.3);
}

body:not(.tag-hash-art-black, .tag-hash-art-white, .tag-hash-art-clear)
  .hero-back:after {
  opacity: 0.3;
  background: linear-gradient(to right, #7300ff 0%, #00ead2 100%);
}

/* This one is actually good for both the default and black images, but not so much for white images. */
body:not(.tag-hash-art-white, .tag-hash-art-clear) .post-full-image {
  background: #202020;
}

/* Now, for the black hero image style! */
/* Just in case there are strong details in the low-key image, dial them back a bit. */
.tag-hash-art-black .hero-back:after {
  opacity: 0.5;
  background: #000;
}

/* Note that the shadow is pure black. */
.tag-hash-art-black .post-card-image-link *,
.tag-hash-art-black .feature-header * {
  color: #fff !important;
  text-shadow: 0 0 0.5em #000, 0 0 0.25em #000, 0 0 0.125em #000;
}

/* And the white hero image style. */
.tag-hash-art-white .post-card-image-link *,
.tag-hash-art-white .feature-header * {
  color: #15171a !important;
  text-shadow: 0 0 0.5em #fff, 0 0 0.25em #fff, 0 0 0.125em #fff;
}

.tag-hash-art-white .post-full-image {
  background: #d5e3ea;
}

/* Lastly, the 'clear' art direction style -- no washes on the hero, no shadows on the text. */
.tag-hash-art-clear .post-card-image-link *,
.tag-hash-art-clear .feature-header * {
  text-shadow: none !important;
}

.tag-hash-art-clear .hero-back {
  opacity: 1 !important;
}

.tag-hash-art-clear .hero-back:after {
  display: none !important;
}

.tag-hash-art-clear .post-full-image {
  background: transparent none !important;
}

@media (max-width: 700px) {
  .site-header-content .author-profile-image {
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    display: table;
    margin: 0 auto 20px;
  }
}

@media (max-width: 500px) {
  .post-template .post-card-tags {
    top: -63px;
    left: -20px;
  }

  .post-full-image {
    margin-bottom: 9vw;
  }
}

/* Category List */

.post-categories {
  padding: 30px 0 80px;
}

.post-categories:after {
  content: "";
  clear: both;
  display: block;
}

.post-categories .category-col {
  width: 25%;
  padding-right: 40px;
  box-sizing: border-box;
  float: left;
}

.post-categories h2 {
  font-size: 35px;
  font-weight: 900;
}

.post-categories h2 a {
  text-decoration: none !important;
  display: block;
  transition: 0.2s;
  border-bottom: 6px solid #000;
}

.post-categories h3 {
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 23px;
  font-weight: 900;
}

.post-categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-categories li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.post-categories li a {
  padding: 12px 0 0;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  display: block;
}

.post-categories li a span {
  font-size: 13px;
  font-weight: 900;
  padding-bottom: 1px;
  display: inline-block;
}

.post-categories a {
  color: #15171a;
}

.post-categories .category-tech h2 a {
  border-color: #4720e3;
}

.post-categories .category-projects h2 a {
  border-color: #20a1d3;
}

.post-categories .category-community h2 a {
  border-color: #0dded3;
}

.post-categories .category-foundation h2 a {
  border-color: #00ffbf;
}

.post-categories h2 a:hover {
  border-color: #15171a;
}

@media (max-width: 1024px) {
  .post-categories .category-col {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .post-categories {
    padding: 0 0 30px;
  }
}

@media (max-width: 480px) {
  .post-categories .category-col {
    width: 100%;
    padding-right: 0;
  }

  .post-categories h3 {
    padding: 25px 0 0 0;
    font-size: 19px;
  }
}

/* Subscribe */

.home-template .subscribe-form {
  margin-bottom: 0;
}

.subscribe-form {
  border: none;
  margin-top: 3em;
  background: #3718ad
    url(https://holochain.ghost.io/content/images/size/w2000/2019/05/holochain-back.jpeg);
  background-size: 100% auto;
  background-position: center;
  border-radius: 0;
  margin-bottom: 0;
}

.subscribe-form h3 {
  color: #fff;
}

.subscribe-form p {
  color: #fff;
  font-weight: 300;
}

.subscribe-email {
  border: none;
  border-radius: 0;
}

.subscribe-form button,
.subscribe-overlay button {
  border-radius: 0;
  background: #0EDDD3 !important;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}

.subscribe-overlay-title {
  font-size: 4.7rem;
}

.subscribe-overlay .subscribe-email {
  border-radius: 0;
}

.subscribe-overlay button {
  font-size: 2rem;
}

@media (max-width: 640px) {
  .subscribe-form {
    padding: 10.5vw 7vw 11vw;
  }
}

/* This originally lived in the default.hbs file, in the <body> element. */

.h-banner {
  width: 100%;
  height: 50px;
  background: #3718ad;
  z-index: 100;
  position: relative;
}

.h-wrap {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.h-pad {
  padding: 0 4vw;
}

.h-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.h-nav li {
  margin: 0 25px 0 0;
  padding: 0;
  float: left;
  line-height: 47px;
}

.h-nav li a {
  font-size: 15px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  position: relative;
}

.h-nav li img {
  width: 30px;
  height: auto;
  vertical-align: middle;
  margin-left: -5px;
  margin-top: -3px;
  max-width: none;
}

.h-nav li.tab-blog a:after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.h-icons {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.h-icons li {
  width: 18px;
  margin: 0 0 0 15px;
  padding: 0;
  line-height: 47px;
  float: left;
}

.h-icons li:first-child {
  width: auto;
  margin: 0 10px 0 0;
  line-height: 49px;
}

.h-icons li:first-child a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.h-icons svg {
  fill: #fff;
  vertical-align: middle;
}

@media (max-width: 750px) {
  .h-icons {
    display: none;
  }
}

@media (max-width: 640px) {
  .h-nav li {
    margin: 0 15px 0 0;
  }

  .h-nav li a {
    font-size: 15px;
  }

  .h-icons {
    top: 17px;
  }

  .h-icons li {
    width: 15px;
    margin: 0 0 0 12px;
  }

  .h-hide {
    display: none;
  }
}

/* end default.hbs */

/* Anchor links on headers -- injected via JavaScript */
.post-full-content h1,
.post-full-content h2,
.post-full-content h3 {
  position: relative;
  /* This makes the hover target bigger so the anchor link doesn't disappear when you move toward it. */
  left: -1em;
  padding-left: 1em;
  z-index: -1;
}

.heading-anchor {
  position: absolute;
  left: 0;
  width: 1em;
  color: #bbb !important;
  box-shadow: none !important;
  text-align: center;
  visibility: hidden;
}

.post-full-content h1:hover .heading-anchor,
.post-full-content h2:hover .heading-anchor,
.post-full-content h3:hover .heading-anchor {
  visibility: visible;
}

/* Page footer */

.site-footer, .site-footer-global-nav {
  background: #3718ad;
}

.site-footer-global-nav {
  /* background: rgba(0, 0, 0, 0.75); */
  color: rgba(255, 255, 255, 0.65);
  align-items: normal;
  font-size: inherit;
  line-height: normal;
}

.site-footer-global-nav__section {
  flex: auto;
}

.site-footer-global-nav h3 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.site-footer-global-nav ul {
  list-style: none;
  padding: 0;
}

.site-footer-global-nav li {
  margin: 0.25em 0;
  padding-left: 0;
  line-height: inherit;
}

@media (max-width: 640px) {
  .site-footer-global-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-footer-global-nav__section {
    flex-basis: 50%;
  }
}

/* Bookmark Card
--------------------------------------------- */
.kg-bookmark-card {
  position: relative;
}

.kg-bookmark-publisher {
  position: relative;
}

.kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: currentColor;
  background: #fff;
  text-decoration: none;
  border-radius: 6px;
  overflow: hidden;
}

.content-block a.kg-bookmark-container {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

.content-block a.kg-bookmark-container:hover {
  color: #000000;
}

.content-block a.kg-bookmark-container:hover .kg-bookmark-title {
  color: #212121;
}

.kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  padding: 20px;
  order: 1;
}

.kg-bookmark-title {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.3em;
}

.kg-bookmark-description {
  display: -webkit-box;
  margin: 0.5em 0 0 0;
  overflow: hidden;
  opacity: 0.8;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kg-bookmark-metadata {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kg-bookmark-icon {
  display: inline-block;
  height: 1rem;
  margin-right: 0.6rem;
  width: 1rem;
}

.kg-bookmark-thumbnail {
  display: block;
  flex-basis: 16rem;
  flex-grow: 1;
  justify-content: flex-end;
}

.kg-bookmark-thumbnail img {
  border-radius: 6px;
  max-width: 100%;
  height: auto;
  min-height: 200px;
  vertical-align: bottom;
  object-fit: cover;
}

.kg-card img {
  border-radius: 6px;
}

.kg-card .kg-bookmark-thumbnail img {
  border-radius: 6px;
}

.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kg-image-card img,
.kg-gallery-image img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.kg-width-full img {
  border-radius: 0;
  margin: 0.3rem auto;
}

.kg-bookmark-author:after {
  content: "•";
  margin: 0 6px;
}

figcaption {
  padding: 0.5rem;
  text-align: center;
}

/* Load More 
-----------------------------------------*/

.load-more {
  text-align: center;
}

.js-load-posts:before {
  content: "Load More";
}

.js-load-posts.icon-loading:before {
  content: "Loading";
}

.js-load-posts.finished:before {
  content: "All Loaded";
}

.load-more button {
  border-radius: 0;
  background: #00ffce;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 20px;
  height: 41px;
  width: 200px;
}

.icon-loading:after {
  opacity: 0.3;
  background-image: url(../img/loading.gif);
  background-color: #00ffce;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
  content: "";
}

/*
   Search function
----------------------------------------*/

.search-section {
  z-index: 998;
  display: none;
}

.search-section,
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-overlay {
  z-index: 997;
  background-color: #3718ad;
  opacity: 0.3;
}

.search-bg {
  background: #ffffff;
  margin-top: 40px;
}

.search-content {
  position: relative;
  z-index: 999;
  top: 20vh;
  overflow: hidden;
  width: calc(100% - 50px);
  max-width: 900px;
  margin: 0 auto;
}

.search-content,
.search-form input,
.search-meta,
.search-results {
  box-sizing: border-box;
}

.search-meta,
.search-results small {
  font-size: 13px;
  font-weight: medium;
  display: block;
  width: 100%;
}

/* Close
----------------------------------*/
.search-close {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  top: 0;
  right: 0;
}

.search-close svg {
  width: 25px;
  height: 25px;
  fill: #3718ad;
}

/* Form
----------------------------------*/
.search-form input {
  background: #ffffff;
  border: 1px solid #3718ad;
  font-size: 30px;
  font-family: URW Form;
  display: block;
  width: 100%;
  padding: 20px;
  color: #121212;
}

.search-info {
  font-weight: bold;
  font-size: 2rem;
}

/* Meta
---------------------------------- */
.search-meta {
  margin: 0;
  padding: 8px 0 8px 20px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #3718ad;
  border-top: 0;
  min-height: 40px;
}

.search-meta .is-hide {
  display: none;
}

/* Results
---------------------------------- */
.search-counter {
  font-weight: bold;
  font-size: 2rem;
}

.search-results {
  background: #fff;
  border: 1px solid #3718ad;
  border-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-height: calc(60vh - 105px);
  padding: 0 20px;
}

.search-results small {
  margin-bottom: 7px;
}

.search-results small:first-of-type {
  margin-top: 20px;
}

.search-results a {
  color: #3718ad;
  font-family: URW Form;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
  display: inline-block;
  margin: 0 0 15px;
}

.search-results a:last-of-type {
  margin-bottom: 25px;
}

/* Search icon
------------------------------------- */
.fa-search {
  color: #26a8ed;
}

.header-search {
  line-height: 0;
  margin-top: 8px;
  margin-left: 5px;
}

.header-search span {
  font-size: 15px;
  font-weight: bold;
  display: none;
  margin-right: 8px;
}

.header-search svg {
  margin-top: -15px;
  width: 32px;
  cursor: pointer;
  fill: #fff;
}

/* If Active
---------------------------------------*/
.search-is-active {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

.search-is-active .global-wrap {
  overflow-x: hidden;
  overflow-y: scroll;
}

.search-is-active .search-section {
  -webkit-animation: showSearch 0.2s ease forwards;
  animation: showSearch 0.2s ease forwards;
}

/* Single Post Header
---------------------------------------*/
.feature-header .feature-title {
  margin-bottom: 70px;
}

.feature-date {
  margin-bottom: 50px;
}

/* Post Feed
---------------------------------------*/
.post-card-image-link {
  min-height: 220px;
}
@media (min-width:500px) and (max-width:695px) {
  .post-card-image-link {
    min-height: 300px;
  }
  .post-card-image-link .post-card-image{
    min-height: 300px;
  }
}

.post-card-large .post-card-image-link {
  min-height: 350px;
}
@media (max-width:500px) {
  .post-card-large .post-card-image-link {
    min-height: 220px;
  }
}

.post-card-large ~ .post-card-large .post-card-image-link {
  min-height: 220px;
}

.post-card-large .post-card-image-link .post-card-image {
  height: 100%;
}

.post-card-image {
  position: absolute;
}

.post-card h2 {
  /* color: #fff; */
  color: #15171a;
  position: relative;
  /* top: 0;
    left: 0;
    margin: 25px; */
}

.post-feed > .post-card-large ~ .post-card-large {
  flex: 1 1 300px;
  flex-direction: column;
}

.post-feed > .post-card-large ~ .post-card-large .post-card-image {
  height: 220px;
}

.post-feed > .post-card-large ~ .post-card-large .post-card-title {
  font-size: 2.35rem;
  margin-bottom: .5em;
}

.post-card-meta {
  padding: 25px;
}

.post-details {
  line-height: 20px;
}

.post-details .authors {
  display: block;
  line-height: 14px;
}

.post-details .authors a {
  line-height: 14px;
}

.post-details .publish-date:after {
  content: '\b7\a0';
  padding-left: 5px;
} 

.post-card-large ~ .post-card-large .post-card-title {
  margin: 0;
}

.post-card-large .post-card-content-link {
  padding: 25px 25px 0;
}

.post-card-large .post-card-content {
  flex-direction: column;
  align-self: flex-end;
  width: 100%;
}

.post-card-large ~ .post-card-large .post-card-content {
  align-self: flex-start;
}

.post-feed > .post-card-large ~ .post-card-large .post-card-excerpt {
  /* position: absolute;
    top: 175px;
    left: 25px; */
  font-size: 18px;
  color: #3c484e;
  font-weight: 600;
  z-index: 3;
  margin: 0;
}

.post-feed > .post-card-large ~ .post-card-large .post-card-content {
  flex: 1;
}

.post-feed
  > .post-card-large
  ~ .post-card.tag-dev-pulse
  .post-card-image-link:before {
  display: none;
}

.authors {
  text-transform: none;
}

.authors a {
  color: #738a94;
  font-size: 12px;
  line-height: 33px;
}

/* .post-feed > .post-card-large ~ .post-card.tag-dev-pulse .post-card-image-link:after {
    top: 220px;
} */


@media (min-width: 795px) {
  .post-card-large .post-card-meta {
    padding: 25px;
  }
  .post-card-large .post-card-image-link {
    min-height: 350px;
    min-width: 50%;
  }
  .post-card-large ~ .post-card-large .post-card-image-link {
    min-height: 220px;
  }
}

@media (max-width: 1023px) {
  .post-card-large .post-card-title {
    font-size: 3rem;
    margin: 0;
  }
  .post-card-large .post-card-excerpt {
    font-size: 2rem;
    margin: 0;
  }
}

@media (min-width: 1084px) {
  .home-template .post-card.post-card-large {
    min-height: 300px;
  }
  .home-template .post-card.post-card-large:first-of-type {
    min-height: 400px;
  }
  .post-card-large .post-card-image-link {
    min-height: 400px;
    min-width: 650px;
  }
}

@media (min-width: 712px) {
  .post-feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .post-feed > * .post-card {
    grid-row: 1 / -1;
  }

  .post-feed > .post-card-large {
    grid-column: span 2;
  }

  .post-feed > .post-card-large .post-card-image {
    height: 100%;
  }

  .post-feed > .post-card-large ~ .post-card-large {
    grid-column: span 1;
  }
}

@media (min-width: 1082px) {
  .post-feed {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .post-feed > .post-card-large {
    grid-column: span 3;
  }
}

/* Subscribe Form
---------------------------------------*/
.subscribe-form form,
.subscribe-overlay form {
  display: block;
  max-width: 480px;
}

.gdpr {
  color: #fff;
  margin: 16px auto;
}

/* Hero BG Removed */
.home-template .site-header .inner:before {
  content: none;
}

/* Tag Card */
.top-cat-title {
  margin-bottom: 3rem;
}
.top-categories {
  padding: 3rem 0;
}
.tag-card {
  min-height: 450px;
}
.tag-card-top {
  margin: 0 auto;
  padding: 1.25rem 2rem .5rem;
}
.tag-card-top h3 {
  text-align: center;
}
.tag-card-top a {
  color: #3c484e;
  text-decoration: none;
}
.tag-card-top a.tag-image {
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
  width: auto;
}
.tag-card-top img {
  display: block;
  height: 3.125rem;
  max-width: 4.6875rem;
  max-height: 4.6875rem;
  padding-right: 2rem;
  width: auto;
}
.tag-card-top h3 {
  margin: 0 auto;
}
.tag-card-bottom {
  border-top: 1px solid #eeeeee;
  padding: 2.5rem;
}
.tag-card-bottom h3.latest {
  line-height: 1.6;
}
.tag-card-bottom h3 a.title {
  color: #3c484e;
  font-weight: 400;
}
.tag-card-bottom p {
  margin: 0 0 1rem;
}
.tag-card-bottom .post-details {
  float: left;
  width: 100%;
}
.tag-card-bottom .reading-time {
  float: right;
}
.tag-card-bottom .post-details {
  margin: 0;
}
.tag-card-bottom .read-all {
  margin-top: 2rem;
}
.tag-card-bottom .read-all a {
  color: #4720e3;
  font-weight: 700;
  text-decoration: underline;
}
.tag-card-bottom .read-all a:hover {
  color: #b748ff;
}
a.read-all-posts {
  border: 1px solid #3c484e;
  color: #3c484e;
  font-weight: 700;
  opacity: 1;
  padding: 0.8rem;
  text-decoration: none;
  transition: 0.3s;
}
a.read-all-posts:hover {
  background: #0EDDD3;
  border: 1px solid #0EDDD3;
}

.top-categories .post-card {
  display: flex;
  flex-direction: column;
}

.tag-card-top {
  background: #000;
  margin: 0;
  padding: 2rem 2rem 0;
  text-align: center;
  flex-grow: 0;
}

.tag-card-bottom {
  border-top: none;
  padding: 2rem;
  background: white;
  flex-grow: 1;
}

.latest-post {
    min-height: 80px;
}

.tag-card-top a {
  color: #fff;
}

.tag-card-bottom h3.latest {
  margin: 0;
}

.tag-card-bottom .post-details {
  line-height: inherit;
}

.tag-card-top h2 {
  color: #fff;
  margin-top: 0.5em;
  font-size: 2.75rem;
}
/* Featured Post */

.featured-post-title {
  margin-bottom: 3rem;
}

/* All Posts */
.normal {
  font-weight: 300;
  letter-spacing: -0.8px;
}
.all-posts {
  padding-top: 0;
}

/* No Overlay */
.featured-no-overlay {
  background: #fff;
}
.featured-no-overlay img.feature-image {
  background: #fff;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  width: 100vw;
}
.no-overlay .post-header {
  padding: 60px 0;
}
.no-overlay .feature-header *,
.no-overlay .feature-header .author-card-name a,
.no-overlay .post-full-authors-content a,
.no-overlay .post-full-authors-content p {
  color: #090a0b;
}
.no-overlay .feature-excerpt {
  line-height: 1.3;
}